<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Viewer</title>
  <style>
        #pdf-container {
            width: 100%;
            height: 600px;
            overflow: hidden;
        }

        #navigation-buttons {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:text="${id}" id="docId">

</div>
<div th:text="${currentPage}" id="currentPage">

</div>
<div id="pdf-container"></div>
<div id="navigation-buttons">
  <button onclick="loadPage('previous')">Предыдущая страница</button>
  <button onclick="loadPage('next')">Следующая страница</button>
</div>

<script>
        let currentPage = document.getElementById('currentPage').innerHTML;
        const pdfContainer = document.getElementById('pdf-container');
        const docId=document.getElementById('docId').innerHTML;

        function loadPage(direction) {
            currentPage=Number(currentPage);
            if (direction === 'previous') {
                currentPage = Math.max(1, currentPage - 1);
            }
            if (direction === 'current'){
            }
            else {
                currentPage += 1;
            }
            const currentUrl = window.location.origin;

            const pdfUrl = `${docId}/${currentPage}`;

            fetch(pdfUrl)
                .then(response => response.blob())
                .then(blob => {
                    const url = URL.createObjectURL(blob);
                    pdfContainer.innerHTML = `<embed src="${url}" type="application/pdf" width="100%" height="100%">`;
                })
                .catch(error => console.error('Error loading PDF:', error));
        }

        // Load initial page
        loadPage('current');
    </script>
</body>
</html>
