<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<h2>Registration Form</h2>
<form action="/api/auth/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <div class="g-recaptcha" data-sitekey="6Lej_jkpAAAAAGXt4uA7nOWQ0UehNgI25ucM0qs6"></div>
  <br>
  <input type="submit" value="Register">
</form>

</body>
</html>
